<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/admin-layout">

<style layout:fragment="style">
    table#userTable tbody tr:hover {
        background-color: rgb(228, 234, 238);
    }

    .modal-body div.input-group-prepend span {
        width: 100px;
    }
</style>

<div layout:fragment="content" class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800 font-weight-bold">Account Management</h1>
    <p class="mb-4">Account Detail</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Account Detail</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="userTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<block layout:fragment="modal">

    <!-- Modal -->
    <div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light">
                    <h5 class="modal-title" id="exampleModalCenterTitle">User Detail</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body hide">
                    <!-- <form> -->
                    <!-- 결과폼 -->
                    <div id="modal-alert"></div>

                    <input type="hidden" value="" id="inputUserNo">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold">ID</span>
                        </div>
                        <input type="text" class="form-control" placeholder="ID" id="inputUserId" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold">NAME</span>
                        </div>
                        <input type="text" class="form-control" placeholder="ID" id="inputUserName">
                        <!-- <div class="input-group-append"> -->
                        <!-- <a class="btn btn-primary" type="submit">Update</a> -->
                        <!-- </div> -->
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold">DATE</span>
                        </div>
                        <input type="text" class="form-control" placeholder="ID" id="inputRegDate" disabled>
                    </div>

                    <hr>
                    <!-- 권한 -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="inputAdmin" value="2">
                        <label class="custom-control-label" for="inputAdmin">ADMIN</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="inputUser" value="3">
                        <label class="custom-control-label" for="inputUser">USER</label>
                    </div>
                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnUserUpdate">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</block>

<script layout:fragment="script" th:inline="javascript">
    $(() => {
        const $userTable = $("#userTable");
        const $userInfoModal = $("#userInfoModal");

        // 이벤트 핸들링
        $("#btnUserUpdate").on("click", ()=>{
            updateUserDetail($userInfoModal);
        });

        // 온로드 함수
        getAccountList($userTable, $userInfoModal);

    });
</script>

</html>