<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hipword">

<!-- ##################################################### -->
<!-- 						SELECT 						   -->
<!-- ##################################################### -->

	<select id="countArtistById" parameterType="string" resultType="_int">
		<!-- com.joje.dbee.dao.HipwordDao.countArtistById -->
		SELECT 
			COUNT(*)
		FROM 
			TB_HIPWORD_ARTIST
		<where>
			ARTIST_ID = #{artistId}
		</where>
	</select>
	
	<select id="countSongById" parameterType="string" resultType="_int">
		<!-- com.joje.dbee.dao.HipwordDao.countSongById -->
		SELECT 
			COUNT(*)
		FROM 
			TB_HIPWORD_SONG
		<where>
			SONG_ID = #{songId}
		</where>
	</select>

	<select id="selectOneSongById" parameterType="string" resultType="SongVo">
		<!-- com.joje.dbee.dao.HipwordDao.selectOneSongById -->
		SELECT 
			S.SONG_ID, 
			S.SONG_TITLE, 
			T.ARTIST_NAME as artist, 
			S.LYRICS 
		FROM 
			TB_HIPWORD_SONG S 
			JOIN TB_HIPWORD_ARTIST T ON S.ARTIST_ID = T.ARTIST_ID
		WHERE 
			S.SONG_ID = #{songId}
	</select>

	<select id="selectAllSongRankByDate" parameterType="string" resultType="SongRankVo">
		<!-- com.joje.dbee.dao.HipwordDao.selectAllSongRankByDate -->
		SELECT 
			S.SONG_ID,
			S.SONG_TITLE,
			A.ARTIST_NAME as artist,
			R.SONG_RANK
		FROM 
			TB_HIPWORD_SONG S 
				JOIN TB_HIPWORD_RANK R ON R.SONG_ID = S.SONG_ID
				JOIN TB_HIPWORD_ARTIST A ON S.ARTIST_ID = A.ARTIST_ID
		WHERE 
			R.REG_DATE = #{date}
		ORDER BY 
			R.SONG_RANK ASC
	</select>

<!-- ##################################################### -->
<!-- 						INSERT 						   -->
<!-- ##################################################### -->

	<insert id="insertSong" parameterType="map">
		<!-- com.joje.dbee.dao.HipwordDao.insertSong -->
		INSERT INTO TB_HIPWORD_SONG
			(SONG_ID, SONG_TITLE, ARTIST_ID, LYRICS) 
		VALUES
			(#{songId}, #{songTitle}, #{artistId}, #{lyrics}); 
	</insert>


	<insert id="insertArtist" parameterType="ArtistVo">
		<!-- com.joje.dbee.dao.HipwordDao.insertArtist -->
		INSERT INTO TB_HIPWORD_ARTIST
			(ARTIST_ID, ARTIST_NAME) 
		VALUES
			(#{artistId}, #{artistName}); 
	</insert>

	<insert id="insertAllSongRank" parameterType="java.util.List" >
	    
	    <!-- com.joje.dbee.dao.HipwordDao.insertArtist -->
	    INSERT INTO TB_HIPWORD_RANK
	    	(SONG_ID, SONG_RANK) 
	    VALUES
	    <foreach collection="list" item="item" separator=" , "> 
	    	(#{item.songId}, #{item.songRank})
	    </foreach>
	</insert>

<!-- ##################################################### -->
<!-- 						UPDATE 						   -->
<!-- ##################################################### -->



<!-- ##################################################### -->
<!-- 						DELETE 						   -->
<!-- ##################################################### -->


</mapper>