<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="source">

    <!-- 제이쿼리 -->
    <script th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/jquery.easing.min.js}"></script>

    <!-- 부트스트랩 -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- sb-admin -->
    <script th:src="@{/assets/js/sb-admin-2.js}"></script>

    <!-- 테이블 스크립트 -->
    <script th:src="@{/assets/lib/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/lib/datatables/dataTables.bootstrap4.js}"></script>

    <script th:src="@{/assets/lib/chart/Chart.min.js}"></script>
    <!-- <script th:src="@{/assets/js/demo/chart-area-demo.js}"></script> -->
    <!-- <script th:src="@{/assets/js/demo/chart-pie-demo.js}"></script> -->
</th:block>

</html>