<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/center-layout">

<!-- CSS -->
<style layout:fragment="style">
</style>

<!-- HTML -->
<div layout:fragment="content">
    <div class="text-center">
        <div class="error mx-auto mb-5" th:data-text="${errorCode}" th:text="${errorCode}"></div>
        <p class="text-dark mb-2" th:text="${errorMessage}"></p>
        <a th:href="@{/dbee}">Back to Home</a>
    </div>
</div>

<!-- JavaScript -->
<script layout:fragment="script" th:inline="javascript">
</script>

</html>