<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="UserRole" type="map">
		<result property="userNo" column="userNo" />
	 	<collection property="roles" column="userNo" javaType="java.util.ArrayList" ofType="map" select="selectRoleByUserNo"/>
	</resultMap>

<!-- ##################################################### -->
<!-- 						SELECT 						   -->
<!-- ##################################################### -->

	<select id="countUserByKeyword" parameterType="map" resultType="_int">
		SELECT 
			count(*)
		FROM TB_USER 
		<where>
			<if test="keyword != null and keyword.length > 0">
				USER_ID LIKE CONCAT('%', #{keyword}, '%')
				OR USER_NAME LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</where>
	</select>

	<select id="countRoleByUserNo" parameterType="map" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			TB_USER_ROLE
		<where>
			USER_NO = #{userNo} AND 
			ROLE_ID = #{roleId}
		</where>
	</select>
	
	<select id="selectOneUserByNo" parameterType="_int" resultMap="UserRole">
		SELECT 
			USER_NO as userNo,
			USER_ID as userId,
			USER_NAME as userName,
			REG_DATE as regDate
		FROM TB_USER 
		<where>
			USER_NO = #{userNo}
		</where>
	</select>
	
	<select id="searchUserByKeyword" parameterType="map" resultMap="UserRole">
		SELECT 
			USER_NO as userNo,
			USER_ID as userId,
			USER_NAME as userName,
			REG_DATE as regDate
		FROM TB_USER 
		<where>
			<if test="keyword != null and keyword.length > 0">
				USER_ID LIKE CONCAT('%', #{keyword}, '%')
				OR USER_NAME LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</where>
	</select>

	<select id="selectRoleByUserNo" parameterType="_long" resultType="map">
		SELECT 
			R.ROLE_ID as roleId,
			R.ROLE_NAME as roleName
		FROM 
			TB_USER_ROLE UR JOIN TB_ROLE R ON UR.ROLE_ID = R.ROLE_ID
		WHERE USER_NO = #{userNo}
	</select>

<!-- ##################################################### -->
<!-- 						INSERT 						   -->
<!-- ##################################################### -->

	<insert id="insertUserRole" parameterType="map">
		INSERT INTO 
			TB_USER_ROLE(`USER_NO`, 
						 `ROLE_ID`) 
		VALUES (#{userNo},
				#{roleId})
	</insert>

<!-- ##################################################### -->
<!-- 						UPDATE 						   -->
<!-- ##################################################### -->



<!-- ##################################################### -->
<!-- 						DELETE 						   -->
<!-- ##################################################### -->

	<delete id="deleteUserRole" parameterType="map">
		DELETE FROM TB_USER_ROLE 
		<where>
			USER_NO = #{userNo} AND 
			ROLE_ID = #{roleId}
		</where> 
	</delete>
	

</mapper>