<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/center-layout">

<style layout:fragment="style">
    @import url("/assets/css/home/hex.css");
</style>

<div layout:fragment="content" class="container-fluid">

    <div id="hexWrapper">
        <ul id="hexGrid">
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                    </a>
                </div>
            </li>
        </ul>
    </div>

</div>

<!-- <li class="hex">
      <div class="hexIn">
            <a class="hexLink" href="#">
                  <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                  <h1>This is a title</h1>
                  <p>Some sample text about the article this hexagon leads to</p>
            </a>
      </div>
</li> -->
<th:block layout:fragment="source">
    <script th:src="@{/assets/js/home/hex.js}"></script>
</th:block>

<script layout:fragment="script" th:inline="javascript">

    let $hexGrid = $("ul#hexGrid");
    let oHexData = [
        { "title": "test" },
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {}
    ]

    $hexGrid.html(drawHex(oHexData));

</script>

</html>